<% title "Dashboard" %>

<div class="well">
  <h2>Podcasts</h2>

  <table class="table table-striped" id="dashboard_podcast_table">
    <thead>
      <tr>
        <th>Name</th>
        <th># Episodes</th>
        <th>Last Episode</th>
        <th>Next Episode</th>
        <% if @settings.uri_key.present? && @settings.uri_token.present? %>
        <th><a href="#" data-toggle="tooltip" title="according to uri.lv"><b>Subscribers</b></a></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% for podcast in @podcasts do %>
        <tr>
          <td><%= podcast.name %></td>
          <td><%= podcast.episodes.count %></td>
          <td><%= raw(podcast.since_last_episode) %></td>
          <td><%= raw(podcast.until_next_episode) %></td>
          <% if @settings.uri_key.present? && @settings.uri_token.present? %>
          <td><%= subscribers(podcast.name) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>


  <h2>Recent Commits</h2>

  <table class="table table-striped" id="dashboard_commits_table">
    <thead>
      <tr>
        <th>Message</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% for commit in @commits do %>
        <tr>
          <td><%= commit.message %></td>
          <td><%= commit.committed_date.strftime("%d.%m.%y %H:%M") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div><!-- /well -->