<h2>Analytics</h2>

<table class="table-hover" id="episode_analytics_table" data-source="<%= episodes_url(format: "json") %>">
  <thead>
    <tr>
      <th style="width: 25%; text-align: center;">Title</th>
      <th style="width: 25%; text-align: center;">Hits</th>
      <th style="width: 25%; text-align: center;">Downloaded</th>
      <th style="width: 25%; text-align: center;">Downloads</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<div id="graph_title">
  <%= render "title" %>
</div>

<div class="row collapse graph_dates">
  <div class="small-3 columns small-offset-6">
    <div class="small-3 columns">
      <label class="datetime optional inline" for="startdatepicker">Von</label>
    </div>
    <div class="small-9 columns">
      <div class="row date collapse" id="startdatepicker">
        <input class="small-8 columns" type="text" value="<%= @start.strftime("%Y-%m-%d") %>">  <span class="prefix small-3 columns end"><i class="icon-calendar"></i></span>
      </div>
    </div>
  </div>

  <div class="small-3 columns">
    <div class="small-3 columns">
      <label class="datetime optional inline" for="enddatepicker">Bis</label>
    </div>
    <div class="small-9 columns">
      <div class="row date collapse" id="enddatepicker">
        <input class="small-8 columns" type="text" value="<%= @stop.strftime("%Y-%m-%d") %>">  <span class="prefix small-3 columns end"><i class="icon-calendar"></i></span>
      </div>
    </div>
  </div>
</div>

<div id="graph">
  <%= render "graph" %>
</div>
