<div class="well">
  <h2>Analytics</h2>

  <table class="table table-striped" id="episode_analytics_table">
    <thead>
      <tr>
        <th style="width: 25%; text-align: center;">Title</th>
        <th style="width: 25%; text-align: center;">Hits</th>
        <th style="width: 30%; text-align: center;">Downloaded</th>
        <th style="width: 20%; text-align: center;">Full Downloads</th>
      </tr>
    </thead>
    <tbody>
    <% for episode in @episodes.sort_by { |e| e.total_downloads }.reverse do %>
      <% present episode, AnalyticsEpisodePresenter do |episode_presenter| %>
      <tr>
        <td><%= episode.full_title %></td>
        <td>
          <div class="progress">
            <div class="bar" style="width: <%= episode_presenter.hits_percentage %>">
              <%= episode_presenter.total_hits %>
            </div>
          </div>
        </td>
        <td>
          <div class="progress">
            <div class="bar" style="width: <%= episode_presenter.downloaded_percentage %>">
              <%= episode_presenter.total_downloaded %>
            </div>
          </div>
        </td>
        <td>
          <div class="progress">
            <div class="bar" style="width: <%= episode_presenter.downloads_percentage %>">
              <%= episode_presenter.total_downloads %>
            </div>
          </div>
        </td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>