<%= simple_form_for @user, html: { class: 'form-horizontal' } do |f| %>
  <% if alert %>
    <div class="alert alert-error">
      <%= alert %>
    </div>
  <% end %>

  <%= f.input :email %>

  <%= f.input :password %>

  <%= f.input :password_confirmation %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                users_path, class: 'btn' %>
  </div>
<% end %>
