<% title "Users" %>

<h2>Users</h2>

<table class="table table-striped" id="user_table">
	<thead>
		<tr>
			<th>E-Mail</th>
			<th>Last Signed In</th>
			<th>Updated At</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% for user in @users do %>
			<tr>
				<td><%= user.email %></td>
				<td>
					<%= user.current_sign_in_at.blank? ? raw('&nbsp') : user.current_sign_in_at.strftime("%d.%m.%y %H:%M") %>
				</td>
				<td><%= user.updated_at.blank? ? raw('&nbsp') : user.updated_at.strftime("%d.%m.%y %H:%M") %></td>
				<td>
					<%= link_to "Edit", edit_user_path(user), :class => 'small button' %>
					<%= link_to "Delete", user_path(user), method: :delete, confirm: 'Are you sure?',
	                              class: 'small alert button' %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<p class="pull-right">
	<%= link_to "New", new_user_path, class: 'primary button' %>
</p>