<div class="large-10">
  <% if notification = f.error_notification %>
      <%= notification %>
  <% end %>

  <%= f.association :podcast, prompt: "Select Podcast" %>

  <% if f.object.new_record? %>
    <%= f.input :number, input_html: { value: @episode.set_episode_number } %>
  <% else %>
    <%= f.input :number %>
  <% end %>

  <%= f.input :title %>

  <%= f.input :description %>

  <%= f.input :playtime, hint: "In seconds." %>

  <% if params[:episode] %>
    <%= f.input :chapter_marks, as: :text, input_html: { value: params[:episode][:chapter_marks] } %>
  <% else %>
    <%= f.input :chapter_marks, as: :text, hint: "Format: HH:MM:SS Title" %>
  <% end %>
  <%= f.input :chapter_file, as: :file, hint: "Add Chapters through Auphonic's \"Chapters File\" or \"Production Description\" file." %>

  <% if Settings.first.spotify_username.present? %>
    <%= f.input :spotify_playlist %>
  <% end %>

  <div class="small-offset-2">
    <h3>Audio Files</h3>
  </div>

  <div class="small-offset-3">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :audio_files do |builder| %>
          <%= render "audio_file_fields", f: builder %>
        <% end %>
        <tr id="add_audio_file">
          <td><%= link_to_add_fields "Add Audio File", f, :audio_files %></td>
          <td></td>
        </td>
      </tbody>
    </table>
  </div>
  
  <div class="small-offset-2">
    <h3>Show Notes</h3>
  </div>

  <div class="small-offset-3">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>URL</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody id="show_notes" data-update-url="<%= sort_show_notes_url %>">
        <%= f.fields_for :show_notes, @episode.show_notes.sort_by(&:position) do |builder| %>
          <%= render "show_note_fields", f: builder %>
        <% end %>
        <tr id="add_show_note">
          <td></td>
          <td><%= link_to_add_fields "Add Show Note", f, :show_notes %></td>
          <td></td>
          <td></td>
        </td>
      </tbody>
    </table>
  </div>


  <div class="string optional episode_published_at">
    <div class="row">
      <div class="small-3 columns">
        <label class="datetime optional inline right" for="episode_published_at">Publish Date</label>
      </div>
      <div class="small-9 columns">
        <%= f.input_field :published_at, as: :string, value: @episode.published_at.strftime("%d.%m.%Y %H:%M") %>
      </div>
    </div>
  </div>

  <div class="row checkbox-row">
    <div class="small-9 small-offset-3">
      <label for="page_footer">
        <%= f.input_field :explicit, style: "display: none;", id: "page_footer" %>
        <span class="custom checkbox"></span> Explicit
      </label>
    </div>
  </div>

  <div class="row checkbox-row">
    <div class="small-9 small-offset-3">
      <label for="page_footer">
        <%= f.input_field :draft, style: "display: none;", id: "page_footer" %>
        <span class="custom checkbox"></span> Draft
      </label>
    </div>
  </div>

  <div class="form-actions">
  	<%= link_to "Cancel", podcast_episodes_path(@episode.podcast), class: 'secondary button' %>
    <%= f.submit "Save & Close", name: 'save_close', class: 'button' %>
  	<%= f.submit "Save", class: 'button' %>
    <%= f.submit "Publish", name: 'publish', class: 'primary button' if f.object.draft %>
  </div><!-- /form-actions -->
</div>
