<% if notification = f.error_notification %>
    <%= notification %>
<% end %>

<%= f.association :podcast, prompt: "Select Podcast" %>

<% if f.object.new_record? %>
  <%= f.input :number, input_html: { value: @episode.set_episode_number } %>
<% else %>
  <%= f.input :number %>
<% end %>

<%= f.input :title %>

<%= f.input :description %>

<%= f.input :playtime, hint: "In seconds." %>

<% if f.object.new_record? %>
  <%= f.input :file, input_html: { value: @episode.set_file_url } %>
<% else %>
  <%= f.input :file, as: :url %>
<% end %>

<%= f.input :explicit %>

<% if params[:episode] %>
  <%= f.input :chapter_marks, as: :text, input_html: { value: params[:episode][:chapter_marks] } %>
<% else %>
  <%= f.input :chapter_marks, as: :text %>
<% end %>

<%= f.fields_for :introduced_titles do |builder| %>
  <%= render "introduced_title_fields", f: builder %>
<% end %>

<div class="control-group">
    <%= link_to_add_fields "Add Introduced Title", f, :introduced_titles %>
</div>

<%= f.fields_for :show_notes do |builder| %>
  <%= render "show_note_fields", f: builder %>
<% end %>

<div class="control-group">
    <%= link_to_add_fields "Add Show Note", f, :show_notes %>
</div>

<div class="control-group string optional">
  <label class="string optional control-label" for="episode_published_at">Publish Date</label>
  <div class="controls">
    <div id="datetimepicker1" class="input-append date">
      <input class="string optional" id="episode_published_at" name="episode[published_at]" type="text" 
        value="<%= f.object.published_at.strftime("%d.%m.%Y %H:%M") if f.object.published_at %>"></input>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
        </i>
      </span>
    </div>
  </div>
</div>

<%= f.input :draft %>

<div class="form-actions">
	<%= f.submit "Publish", name: 'publish', class: 'btn btn-primary' if f.object.draft %>
	<%= f.submit nil, class: 'btn btn-primary' %>
	<%= link_to "Cancel", podcast_episodes_path(@podcast), class: 'btn' %>
</div><!-- /form-actions -->
