<% if notification = f.error_notification %>
    <%= notification %>
<% end %>

<%= f.association :podcast, prompt: "Select Podcast" %>

<% if f.object.new_record? %>
  <%= f.input :number, input_html: { value: @episode.set_episode_number } %>
<% else %>
  <%= f.input :number %>
<% end %>

<%= f.input :title %>

<%= f.input :description %>

<%= f.input :playtime, hint: "Formatted as: HH:MM:SS, H:MM:SS, MM:SS, or M:SS" %>

<% if f.object.new_record? %>
  <%= f.input :file, input_html: { value: @episode.set_file_url } %>
<% else %>
  <%= f.input :file, as: :url %>
<% end %>

<%= f.input :explicit %>

<%= f.input :chapter_marks, as: :text %>

<%= f.fields_for :show_notes do |builder| %>
  <%= render "show_note_fields", f: builder %>
<% end %>

<div class="control-group">
  <%= link_to_add_fields "Add Show Note", f, :show_notes %>
</div>
