<%- model_class = Episode.new.class -%>

<div id="artworks" class="hero-unit">
	<ul class="thumbnails">
	<% @podcasts.each do |podcast| %>
		<li class="span2">
			<div class="thumbnail">
				<%= link_to image_tag(podcast.artwork), podcast %>
			</div>
		</li>
	<% end %>
	</ul>
</div><!-- /hero-unit -->

<%= paginate @episodes %>

<% @episodes.each do |episode| %>
	<div class="well">
		<h2>
			<%= link_to episode_path(episode.podcast, episode) do %>
				<%= "#{episode.podcast.name} #{episode.num}: " if episode.number %>
				<%= episode.title %>
			<% end %>
		</h2>
		<h4><%= episode.published_at.strftime("%d. %B %Y") %><%= " • #{episode.playtime} Minuten" if episode.playtime.present? %></h4>
		<%= markdown(episode.description) %>
	</div><!-- /well -->
<% end %>

<%= paginate @episodes %>