<% content_for :banner do %>
<ul class="thumbnails">
	<% @podcasts.each do |podcast| %>
    <li class="span3">
      <div class="thumbnail">
        <%= link_to image_tag(podcast.artwork.url(:medium)), podcast %>
      </div><!-- /thumbnail -->
    </li><!-- /span -->
  <% end %>
</ul><!-- /thumbnails -->
<% end %>

<% @episodes.each do |episode| %>
	<div class="well">
		<h2>
			<%= link_to episode_path(episode.podcast, episode) do %>
				<%= "#{episode.podcast_name} #{episode.num}: " %>
				<%= episode.title %>
			<% end %>
		</h2>
		<h4><%= episode.published_at.strftime("%d. %B %Y") %><%= " • #{episode.duration}" if episode.playtime.present? %></h4>
		<%= markdown(episode.description) %>
	</div><!-- /well -->
<% end %>

<%= paginate @episodes %>