<% title "#{@podcast.name}" %>

<%- model_class = Episode.new.class -%>

<div class="well">
	<h2><%= @podcast.name %> Episodes</h2>

	<table class="table table-striped" id="episode_table">
		<thead>
			<tr>
				<th>#</th>
				<th>Title</th>
				<th>Publish Date</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% for episode in @episodes do %>
				<tr>
					<td><%= episode.number %></td>
					<td><%= episode.title %></td>
					<% if episode.published_at.present? %>
						<td><%= episode.published_at.strftime("%d.%m.%y %H:%M") %></td>
					<% else %>
						<td>Draft</td>
					<% end %>
					<td>
						<%= link_to "Edit", edit_episode_path(@podcast, episode), class: 'btn btn-info btn-mini' %>
						<%= link_to t('.destroy', default: t("helpers.links.delete")), episode_path(@podcast, episode),
  	                                	method: :delete, confirm: t('.confirm', 
  	                                	default: t("helpers.links.confirm", default: 'Are you sure?')),
  	                                	class: 'btn btn-mini btn-danger' %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<p class="pull-right">
  	<%= link_to t('.new', default: t("helpers.links.new")), new_podcast_episode_path(@podcast), class: 'btn btn-primary' %>
	</p>

	<div class="clearfix"></div>

</div><!-- /well -->