<% present @episode do |episode_presenter| %>
<% title "#{@episode.podcast.name} #{episode_presenter.num}: #{@episode.title}" %>

	<% content_for :banner do %>
	<ul class="thumbnails">

		<li class="span3">
			<% if @podcast.artwork? %>
				<div class="thumbnail">
					<%= link_to image_tag(@episode.podcast.artwork.url(:medium)), @podcast %>
				</div><!-- /thumbnail -->
			<% end %>
		</li><!-- /span -->

		<li class="span5">
			<h2><%= link_to @episode.podcast.name, podcast_path(@episode.podcast) %></h2>
			<p><%= @episode.podcast.description %></p>
		</li><!-- /span -->

	</ul><!-- /thumbnails -->
	<% end %>

	<% content_for :banner_alt do %>
	<ul class="thumbnails">

		<li class="span4">
			<h2><%= link_to @episode.podcast.name, podcast_path(@episode.podcast) %></h2>
			<p><%= @episode.podcast.description %></p>
		</li><!-- /span -->

	</ul><!-- /thumbnails -->
	<% end %>


	<div class="well">
		<h4 class="episode-num">Episode #<%= episode_presenter.num %>
		<h2><%= @episode.title %></h2>
		<h4><%= @episode.published_at.strftime("%d. %B %Y") %><%= episode_presenter.duration %></h4>
		<div class="description"><%= markdown(@episode.description) %></div>

		<%= podloveaudio(mp4: @episode.file_url("mp4"), mp3: @episode.file_url("mp3"),
		                 opus: @episode.file_url("opus"), ogg: @episode.file_url("ogg"), 
				           	 title: @episode.title, permalink: episode_url(@episode.podcast, @episode), 
				             subtitle: truncate(@episode.clean_description.gsub(/\n/, ' ').gsub(/\r/, ''), length: 150),
				             startVolume: 1, chapters: episode_presenter.podlove_chapters, duration: @episode.feed_duration) %>

		<div class="downloads">
		<% @episode.audio_files.order('media_type').each_with_index do |file, index| %>
			<p class="<%= index.even? ? "pull-left" : "pull-right" %>">
				<%= link_to "Download #{file.media_type.upcase}", file.url %>
			</p>
		<% end %>
		</div>

		<div class="clearfix"></div>

		<% if @episode.spotify_playlist.present? %>
			<iframe src="https://embed.spotify.com/?uri=spotify:user:talesofinterest:playlist:<%= @episode.spotify_playlist %>&theme=white" width="500" height="580" frameborder="0" allowtransparency="true"></iframe>
		<% end %>

		<% unless @episode.introduced_titles.size == 0 %>
			<h3>Vorgestellte Titel</h3>
			<table class="table table-striped" id="links">
				<% @episode.introduced_titles.each do |title| %>
					<tr>
						<td><%= link_to markdown(title.name), title.url, target: "_blank" %></td>
		  			</tr>
				<% end %>
			</table>
		<% end %>

		<% unless @episode.show_notes.size == 0 %>
			<h3>Show Notes & Links</h3>
			<table class="table table-striped" id="links">
				<% @episode.show_notes.order('position').each do |show_note| %>
					<tr>
						<td><%= link_to markdown(show_note.name), show_note.url, target: "_blank" %></td>
		  			</tr>
				<% end %>
			</table>
		<% end %>
		
	</div><!-- /well -->

	<ul class="pager">
		<%= episode_presenter.prev_link %>
		<%= episode_presenter.next_link %>
	</ul>

<% end %>