<% title "#{@episode.podcast_name} #{@episode.num}: #{@episode.title}" %>

<% content_for :banner do %>
<ul class="thumbnails">

	<li class="span3">
		<% if @podcast.artwork? %>
			<div class="thumbnail">
				<%= link_to image_tag(@episode.podcast.artwork.url(:medium)), @podcast %>
			</div><!-- /thumbnail -->
		<% end %>
	</li><!-- /span -->

	<li class="span5">
		<h2><%= link_to @episode.podcast_name, podcast_path(@episode.podcast) %></h2>
		<p><%= @episode.podcast.description %></p>
	</li><!-- /span -->

</ul><!-- /thumbnails -->
<% end %>

<% content_for :banner_alt do %>
<ul class="thumbnails">

	<li class="span4">
		<h2><%= link_to @episode.podcast_name, podcast_path(@episode.podcast) %></h2>
		<p><%= @episode.podcast.description %></p>
	</li><!-- /span -->

</ul><!-- /thumbnails -->
<% end %>


<div class="well">
	<h4>Episode #<%= @episode.num %>
	<h2><%= @episode.title %></h2>
	<h4><%= @episode.published_at.strftime("%d. %B %Y") %><%= " • #{@episode.duration}" if @episode.playtime.present? %></h4>
	<div class="description"><%= markdown(@episode.description) %></div>

	<audio id="player">
		<source src="<%= @episode.file %>" type="<%= @episode.type %>"></source>
	</audio>

	<script>
		$('#player').podlovewebplayer({
			poster: '<%= @episode.podcast.artwork.url(:thumb) %>',
			title: '<%= @episode.title %>',
			permalink: '<%= episode_url(@episode.podcast, @episode) %>',
			subtitle: '<%= truncate(@episode.clean_description.gsub(/\n/, ' ').gsub(/\r/, ''), length: 150) %>',
			<% if @episode.chapters.size > 0 %>
				chapters: <%= @episode.podlove_chapters %>,
			<% end %>
			duration: '<%= @episode.feed_duration if @episode.playtime %>',
			alwaysShowHours: true,
			startVolume: 1,
			width: 'auto',
			summaryVisible: false,
			timecontrolsVisible: false,
			sharebuttonsVisible: false,
			chaptersVisible: false	
		});
	</script>

	<p class="download"><%= link_to "Download Podcast", @episode.file %></p>

	<% unless @episode.introduced_titles.size == 0 %>
		<h3>Vorgestellte Titel</h3>
		<table class="table table-striped" id="links">
			<% @episode.introduced_titles.each do |title| %>
				<tr>
					<td><%= link_to markdown(title.name), title.url, target: "_blank" %></td>
	  			</tr>
			<% end %>
		</table>
	<% end %>

	<% unless @episode.show_notes.size == 0 %>
		<h3>Show Notes & Links</h3>
		<table class="table table-striped" id="links">
			<% @episode.show_notes.each do |show_note| %>
				<tr>
					<td><%= link_to markdown(show_note.name), show_note.url, target: "_blank" %></td>
	  			</tr>
			<% end %>
		</table>
	<% end %>
	
</div><!-- /well -->

<ul class="pager">
	<% if @prev = Episode.published.where(podcast_id: @episode.podcast.id, number: @episode.number-1).first %>
		<li class="previous"><%= link_to "Previous Episode", episode_path(@episode.podcast, @prev) %></li>
	<% end %>
	<% if @next = Episode.published.where(podcast_id: @episode.podcast.id, number: @episode.number+1).first %>
		<li class="next"><%= link_to "Next Episode", episode_path(@episode.podcast, @next) %></li>
	<% end %>
</ul>