<% present @episode do |episode_presenter| %>
<% title episode_presenter.full_title %>

	<% content_for :banner do %>
	<ul class="small-block-grid-3">
		<li>
			<%= episode_presenter.artwork %>
		</li>
		<li class="small-6">
			<%= episode_presenter.linked_podcast_name %>
			<%= episode_presenter.podcast_description %>
		</li><!-- /small-6 -->
	</ul><!-- /small-block-grid-3 -->
	<% end %>

	<% content_for :banner_alt do %>
		<h1><%= episode_presenter.linked_podcast_name %></h1>
		<%= episode_presenter.podcast_description %>
	<% end %>


	<div class="episode">
		<h4 class="episode-num">Episode #<%= episode_presenter.num %></h4>
		<h2><%= episode_presenter.title %></h2>
		<h4><%= episode_presenter.published_at %><%= episode_presenter.duration_in_words %></h4>
		<div class="description"><%= episode_presenter.description %></div>

		<%= podloveaudio(mp4: episode_presenter.file_url("mp4"), mp3: episode_presenter.file_url("mp3"),
		                 opus: episode_presenter.file_url("opus"), ogg: episode_presenter.file_url("ogg"),
				           	 title: episode_presenter.title, permalink: episode_presenter.uri, 
				             subtitle: episode_presenter.truncated_clean_description.gsub(/\n/, ' ').gsub(/\r/, ''),
				             startVolume: 1, chapters: episode_presenter.chapters,
				             duration: episode_presenter.duration, preload: "none") %>

		<div class="downloads">
	    <% @episode.audio_files.order('media_type').each_with_index do |file, index| %>
      	<p class="<%= index.even? ? "pull-left" : "pull-right" %>">
      		<%= link_to "Download #{file.media_type.upcase}", file.url %>
      	</p>
     	<% end %>
		</div>

		<div class="clearfix"></div>

		<% if @episode.spotify_playlist.present? %>
			<iframe src="https://embed.spotify.com/?uri=spotify:user:<%= Settings.first.spotify_username %>:playlist:<%= @episode.spotify_playlist %>&theme=white" width="500" height="580" frameborder="0" allowtransparency="true"></iframe>
		<% end %>

		<% if @episode.show_notes.size > 0 %>
			<h3>Show Notes & Links</h3>
			<table id="links">
				<% @episode.show_notes.order('position').each do |show_note| %>
					<tr>
						<td><p><%= link_to show_note.name, show_note.url, target: "_blank" %></p></td>
		  			</tr>
				<% end %>
			</table>
		<% end %>
		
	</div><!-- /episode -->

	<div class="pager">
		<ul>
			<%= episode_presenter.prev_link %>
			<%= episode_presenter.next_link %>
		</ul>
	</div>

<% end %>