<% title "#{@podcast.name} #{@episode.num}: #{@episode.title}" %>

<%- model_class = @episode.class -%>

<% content_for :banner do %>
<ul class="thumbnails">

	<li class="span3">
		<% if @podcast.artwork? %>
			<div class="thumbnail">
				<%= link_to image_tag(@episode.podcast.artwork.url(:medium)), @podcast %>
			</div><!-- /thumbnail -->
		<% end %>
	</li><!-- /span -->

	<li class="span4">
		<h2><%= link_to @episode.podcast.name, podcast_path(@episode.podcast) %></h2>
		<p><%= @episode.podcast.description %></p>
	</li><!-- /span -->

</ul><!-- /thumbnails -->
<% end %>

<div class="well">
	<h4>Episode #<%= @episode.num %>
	<h2><%= @episode.title %></h2>
	<h4><%= @episode.published_at.strftime("%d. %B %Y") %><%= " • #{@episode.playtime} Minuten" if @episode.playtime.present? %></h4>
	<div class="description"><%= markdown(@episode.description) %></div>

	<div class="player"><div id="myElement">Loading the player...</div></div>

	<script type="text/javascript">
    	jwplayer("myElement").setup({
        	file: "<%= @episode.file %>",
        	height: 20,
        	controls: true
    	});
	</script>

	<% if @episode.chapters.size > 0 %>
		<div class="chapters">
			<a href="#" class="hide">[hide chapters]</a>
			<a href="#" class="show">[show chapters]</a>
			<ul class="chapterlist">
				<% @episode.chapters.order("timestamp asc").each do |chapter| %>
					<li onclick='jwplayer().seek(<%= chapter.timestamp %>)'><a href="#"><%= "#{chapter.pretty_time} #{chapter.title}" %></a></li>
				<% end %>
			</ul>
		</div><!-- /chapters -->
	<% end %>

	<p class="download"><%= link_to "Download Podcast", @episode.file %></p>

	<% unless @episode.show_notes.size == 0 %>
		<h3>Show Notes & Links</h3>
		<table class="table table-striped">
			<% @episode.show_notes.each do |show_note| %>
				<tr>
					<td><%= link_to markdown(show_note.name), show_note.url %></td>
	  			</tr>
			<% end %>
		</table>
	<% end %>
	
	<p><%= link_to "Back", session[:last_page] if session[:last_page] %></p>
</div><!-- /well -->