<% title "Settings" %>

<div class="well">
	<h2>Settings</h2>
	
	<br />
		
	<%= simple_form_for @settings, url: { action: :update }, html: { class: 'form-horizontal' } do |f| %>
		<% if notification = f.error_notification %>
	    <%= notification %>
	  <% end %>
		<% if alert %>
	    <div class="alert alert-error">
	      <%= alert %>
	    </div>
	  <% end %>
	  <% if notice %>
	    <div class="alert alert-success">
	      <%= notice %>
	    </div>
	  <% end %>
		
		<%= f.input :site_name, label: 'Site Name' %>
	
		<%= f.input :posts_per_page, hint: 'How many episodes should be shown per page?' %>
		
		<%= f.input :favicon %>
		<% if Settings.first.favicon? %>
			<div class="control-group">
	  		<div class="controls">
					<%= image_tag Settings.first.favicon.url %>
				</div>
			</div>
		<% end %>
	
		<%= f.input :ga_code, label: 'Google Analytics Code' %>
	
		<%= f.input :flattr_code, label: 'Flattr Code' %>
	
		<h3>RSS/iTunes Feed</h3>
		<br />
	
		<%= f.input :feed_language, label: 'Language', collection: Settings::LANGUAGES.map {|l| [l.match(/(.*)\s\[/)[1	] ,l.match(/\[(.*)\]/)[1]] } %>
	
		<%= f.input :feed_email, label: 'E-Mail' %>
	
		<%= f.input :feed_author, label: 'Author', hint: 'Will default to site name if left empty.' %>
		
		<div class="form-actions">
		  <%= f.submit nil, :class => 'btn btn-primary' %>
		</div>
	
	<% end %>

</div><!-- /well -->
