<%= simple_form_for @page, html: { class: 'form-horizontal' } do |f| %>
  <% if notification = f.error_notification %>
      <%= notification %>
  <% end %>

  <%= f.input :title %>

  <%= f.input :content %>

  <%= f.input :footer, label: "Show in footer?" %>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to "Cancel", pages_path, class: 'btn' %>
  </div>
<% end %>
