<% title "Pages" %>

<h2>Pages</h2>

<table class="table table-striped" id="pages_table">
	<thead>
		<tr>
			<th>Title</th>
			<th>Last Updated At</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% for page in @pages do %>
			<% present page do |page_presenter| %>
				<tr>
					<td><%= page_presenter.title %></td>
					<td><%= page_presenter.updated_at %></td>
					<td>
						<%= link_to "Edit", edit_page_path(page), class: 'small button' %>
						<%= link_to "Delete", page_path(page), method: :delete, confirm: 'Are you sure?',
  	                              class: 'small button alert' %>
					</td>
				</tr>
			<% end %>		
		<% end %>
	</tbody>
</table>

<p class="pull-left">
	<%= link_to "Import", import_page_path, class: 'button' %>
</p>

<p class="pull-right">
	<%= link_to "New", new_page_path, class: 'button primary' %>
</p>
