<% title "Pages" %>

<%- model_class = Page.new.class -%>

<div class="well">
	<h2>Pages</h2>

	<% if notice %>
		<br />
    <div class="alert alert-success">
      <%= notice %>
    </div>
	<% end %>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>Last Updated At</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% for page in @pages do %>
				<tr>
					<td><%= page.titel %></td>
					<td><%= page.updated_at %></td>
					<td>
						<%= link_to "Edit", edit_page_path(page), class: 'btn btn-info btn-mini' %>
						<%= link_to t('.destroy', default: t("helpers.links.delete")), page_path(page),
  	                                	method: :delete, confirm: t('.confirm', 
  	                                	default: t("helpers.links.confirm", default: 'Are you sure?')),
  	                                	class: 'btn btn-mini btn-danger' %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<p class="pull-left">
  	<%= link_to "Import", import_page_path, class: 'btn btn-info' %>
	</p>

	<p class="pull-right">
  	<%= link_to t('.new', default: t("helpers.links.new")), new_page_path, class: 'btn btn-primary' %>
	</p>

	<div class="clearfix"></div>

</div>