<div class="well">
  <h2>Sign in</h2>
  
  <%= simple_form_for(resource, as: resource_name, url: user_session_path) do |f| %>
  
    <% if alert %>
      <div class="alert-message">
        <%= alert %>
      </div>
    <% end %>
  
    <%= f.input :email, required: false, autofocus: true %>
  
    <%= f.input :password, required: false %>

    <% if devise_mapping.rememberable? %>
    <div class="row checkbox-row">
      <div class="small-9 small-offset-3">
        <label for="page_footer">
          <%= f.input_field :remember_me, as: :boolean, style: "display: none;", id: "page_footer" %>
          <span class="custom checkbox"></span> Remember me
        </label>
      </div>
    </div>
    <% end %>
  
    <div class="form-actions">
      <%= f.submit "Login", class: 'primary button' %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
</div><!-- /well -->