<%= simple_form_for @item do |f| %>
  <div class="large-8 large-offset-1">
    <% if notification = f.error_notification %>
      <div class="row">
        <div class="alert-message small-9 small-offset-3">
          <%= notification %>
        </div>
      </div>
    <% end %>

    <%= f.input :name %>

    <%= f.input :url %>

    <%= f.input :description %>

    <div class="form-actions">
      <%= link_to "Cancel", blogrolls_path, class: 'secondary button' %>
      <%= f.submit nil, :class => 'primary button' %>
    </div><!-- /form-actions -->
  </div>
<% end %>
