<%= simple_form_for @item do |f| %>
  <div class="large-8 large-offset-1">
    <% if notification = f.error_notification %>
        <%= notification %>
    <% end %>

    <%= f.input :name %>

    <%= f.input :url %>

    <%= f.input :description %>

    <div class="form-actions">
      <%= link_to "Cancel", blogrolls_path, class: 'button' %>
      <%= f.submit nil, :class => 'primary button' %>
    </div><!-- /form-actions -->
  </div>
<% end %>
