<% title "Blogroll" %>

<h2>Blogroll</h2>

<table class="responsive" id="blogroll_table">
	<thead>
		<tr>
			<th>Name</th>
			<th>URL</th>
			<th>Description</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% for item in @blogroll do %>
			<tr>
				<td><%= item.name %></td>
				<td><%= item.url %></td>
				<td><%= item.description %></td>
				<td>
					<%= link_to "Edit", edit_blogroll_item_path(item), class: 'small button' %>
					<%= link_to "Delete", blogroll_path(item), method: :delete, confirm: 'Are you sure?',
	                              class: 'small alert button' %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<p class="pull-right">
	<%= link_to "New", new_blogroll_item_path, class: 'primary button' %>
</p>
