<% if notification = f.error_notification %>
  <%= notification %>
<% end %>

<%= f.input :name %>

<%= f.input :author %>

<%= f.input :description %>

<%= f.input :artwork %>
<% if @podcast.artwork? %>
  <div class="control-group">
    <div class="controls">
      <%= image_tag @podcast.artwork.url(:medium) %>
    </div>
  </div>
<% end %>
