<% title "Edit #{@podcast.name}" %>

<%- model_class = @podcast.class -%>

<div class="row">
	
	<div class="span7">
		<div class="well">
		<h2><%=t '.title', default: t('helpers.titles.edit', model: model_class.model_name.human,
                                 default: "Edit #{model_class.model_name.human}") %></h2>

		<br />

<%= simple_form_for @podcast, html: { class: 'form-horizontal' } do |f| %>
	<%= render 'form', f: f %>

		</div><!-- /well -->
	</div><!-- /span -->

	<div class="span4">
		<div class="well">
	
		<%= f.input :category1, label: 'Category', collection: Podcast::CATEGORIES, prompt: 'Select a category' %>

    <%= f.input :category2, label: 'Category', collection: Podcast::CATEGORIES, prompt: 'Select a category' %>

    <%= f.input :category3, label: 'Category', collection: Podcast::CATEGORIES, prompt: 'Select a category' %>

    <%= f.input :keywords %>

    <%= f.input :explicit %>

    <%= f.input :itunes_link %>

    <%= f.input :slug %>

    <div class="form-actions">
    	<%= f.submit nil, class: 'btn btn-primary' %>
    	<%= link_to t('.cancel', default: t("helpers.links.cancel")),
      		          podcasts_path, class: 'btn' %>
  	</div><!-- /form-actions -->

		</div><!-- /well -->
	</div><!-- /span -->

</div><!-- /row -->

<% end %>
