<% title "Podcast Import" %>

<div class="large-8 large-offset-1">
  <h2>New Podcast</h2>
</div>

<div class="large-9 large-offset-3">
  <p>Import episodes from a XML file.</p>
</div>

<%= simple_form_for :import, :url => { :action => "import_xml" } do |f| %>
  <div class="large-9 large-offset-1">

    <% if notification = flash[:error] %>
      <div class="alert-message"><%= notification %></div>
    <% end %>

    <%= f.input :file, :as => :file %>
  </div>
  
  <div class="large-5">
    <div class="form-actions">
      <%= link_to "Cancel", podcasts_path, :class => 'secondary button' %>
      <%= f.submit "Import", :class => 'primary button' %>
    </div>
  </div>
<% end %>
