<% title "Podcast Import" %>

<div class="well">
	<h2>New Podcast</h2>

	<br />

	<p>Import episodes from a XML file.</p>

	<%= simple_form_for :import, url: { action: "import_xml" }, html: { class: 'form-horizontal' } do |f| %>
	
    <% if notification = flash[:error] %>
    	<div class="alert alert-error"><%= notification %></div>
  	<% end %>

		<%= f.input :file, as: :file %>
	
		<div class="form-actions">
   		<%= f.submit nil, class: 'btn btn-primary' %>
    	<%= link_to t('.cancel', default: t("helpers.links.cancel")),
                podcasts_path, class: 'btn' %>
  	</div>

	<% end %>
</div><!-- /well -->
