<%- model_class = Podcast.new.class -%>

<div class="well">
	<h2>Podcasts</h2>

	<% if notice %>
		<br />
    <div class="alert alert-success">
      <%= notice %>
    </div>
	<% end %>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Artwork</th>
				<th>Name</th>
				<th># Episodes</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% for podcast in @podcasts do %>
				<tr>
					<td><%= image_tag podcast.artwork, height: '80', width: '80' if podcast.artwork? %></td>
					<td><%= podcast.name %></td>
					<td><%= podcast.episodes.count %></td>
					<td>
						<%= link_to "Episodes", podcast_episodes_path(podcast), :class => 'btn btn-mini' %>
						<%= link_to "New Episode", new_podcast_episode_path(podcast), :class => 'btn btn-primary btn-mini' %>
						<%= link_to "Edit", edit_podcast_path(podcast), :class => 'btn btn-info btn-mini' %>
						<%= link_to t('.destroy', :default => t("helpers.links.delete")), podcast_path(podcast),
  	                                	:method => :delete, :confirm => t('.confirm', 
  	                                	:default => t("helpers.links.confirm", :default => 'Are you sure?')),
  	                                	:class => 'btn btn-mini btn-danger' %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<p class="pull-left">
  	<%= link_to "Import", import_podcast_path, :class => 'btn btn-info' %>
	</p>

	<p class="pull-right">
  	<%= link_to t('.new', :default => t("helpers.links.new")), new_podcast_path, :class => 'btn btn-primary' %>
	</p>

	<div class="clearfix"></div>

</div>