<% title "Podcasts" %>

<div class="well">
	<h2>Podcasts</h2>

	<table class="table table-striped" id="podcast_table">
		<thead>
			<tr>
				<th>Artwork</th>
				<th>Name</th>
				<th># Episodes</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% for podcast in @podcasts do %>
				<% present podcast do |podcast_presenter| %>
					<tr>
						<td><%= podcast_presenter.artwork(:thumb) %></td>
						<td><%= podcast_presenter.name %></td>
						<td><%= podcast_presenter.episodes_count %></td>
						<td>
							<%= link_to "Episodes", podcast_episodes_path(podcast), class: 'btn btn-mini' %>
							<%= link_to "New Episode", new_podcast_episode_path(podcast), class: 'btn btn-primary btn-mini' %>
							<%= link_to "Edit", edit_podcast_path(podcast), class: 'btn btn-info btn-mini' %>
							<%= link_to "Delete", podcast_path(podcast), method: :delete, confirm: 'Are you sure?',
	  	                              class: 'btn btn-mini btn-danger' %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>

	<p class="pull-left">
  	<%= link_to "Import", import_podcast_path, class: 'btn btn-info' %>
	</p>

	<p class="pull-right">
  	<%= link_to "New", new_podcast_path, class: 'btn btn-primary' %>
	</p>

	<div class="clearfix"></div>

</div><!-- /well -->