<% title @podcast.name %>

<% content_for :banner do %>
<ul class="thumbnails">

	<li class="span3">
		<% if @podcast.artwork? %>
			<div class="thumbnail">
				<%= image_tag @podcast.artwork.url(:medium) %>
			</div><!-- /thumbnail -->
		<% end %>
	</li><!-- /span -->

	<li class="span5">
		<h2><%= @podcast.name %></h2>
		<p><%= @podcast.description %></p>
	</li><!-- /span -->

</ul><!-- /thumbnails -->
<% end %>

<% content_for :banner_alt do %>
<ul class="thumbnails">

	<li class="span4">
		<h2><%= link_to @podcast.name, podcast_path(@podcast) %></h2>
		<p><%= @podcast.description %></p>
	</li><!-- /span -->

</ul><!-- /thumbnails -->
<% end %>

<% @episodes.each do |episode| %>
	<% present episode do |episode_presenter| %>
		<div class="well">
			<h2>
				<%= link_to(episode_path(@podcast, episode)) do %>
					<%= "##{episode_presenter.num}: " %><%= episode.title %>
				<% end %>
			</h2>
			<h4><%= episode.created_at.strftime("%d. %B %Y") %><%= episode_presenter.duration %></h4>
			<%= episode_presenter.description %>
		</div><!-- /well -->
	<% end %>
<% end %>

<%= paginate @episodes %>