<% title @podcast.name %>

<% content_for :banner do %>
<ul class="thumbnails">

	<li class="span3">
		<% if @podcast.artwork? %>
			<div class="thumbnail">
				<%= image_tag @podcast.artwork.url(:medium) %>
			</div><!-- /thumbnail -->
		<% end %>
	</li><!-- /span -->

	<li class="span5">
		<h2><%= @podcast.name %></h2>
		<p><%= @podcast.description %></p>
	</li><!-- /span -->

</ul><!-- /thumbnails -->
<% end %>

<% content_for :banner_alt do %>
<ul class="thumbnails">

	<li class="span4">
		<h2><%= link_to @podcast.name, podcast_path(@podcast) %></h2>
		<p><%= @podcast.description %></p>
	</li><!-- /span -->

</ul><!-- /thumbnails -->
<% end %>

<% @episodes.each do |episode| %>
	<div class="well">
		<h2>
			<%= link_to(episode_path(@podcast, episode)) do %>
				<%= "##{episode.num}: " if episode.number %><%= episode.title %>
			<% end %>
		</h2>
		<h4><%= episode.created_at.strftime("%d. %B %Y") %><%= " • #{episode.duration}" if episode.playtime.present? %></h4>
		<%= markdown(episode.description) %>
	</div><!-- /well -->
<% end %>

<%= paginate @episodes %>