<div class="well">
	<h3>Abonnieren</h3>
  <ul class="unstyled">
    <% cache "subscribe-podcasts" do %>
      <% podcasts.each do |podcast| %>
        <li>
          <%= image_tag("rss.png") %> <%= link_to "#{podcast.name} RSS Feed", podcast_feed_path(podcast) %>
        </li>
        <% unless podcast.itunes_link.blank?  %>
          <li>
            <%= image_tag("itunes.png") %> <%= link_to "#{podcast.name} in iTunes", podcast.itunes_link, target: "_blank" %>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul><!-- /unstyled -->
</div><!-- /well -->

<% if settings.flattr_username.present? %>
  <div class="well">
    <h3>Spenden</h3>
    <%= link_to image_tag("https://api.flattr.com/button/flattr-badge-large.png", alt: "Flattr Tales of Interest"), "https://flattr.com/submit/auto?url=#{root_url}&user_id=#{u settings.flattr_username}&title=#{u settings.site_name}&language=de_DE&category=audio", target: "_blank", class: "flattr_button" %>
  </div><!-- /well -->
<% end %>

<% unless blogroll.size == 0 %>
  <div class="well">
    <h3>Blogroll</h3>
    <dl>
      <% cache "blogroll" do %>
        <% blogroll.each do |blog| %>
          <dt><%= link_to blog.name, blog.url, target: "_blank" %></dt>
          <dd><%= blog.description %></dd>
        <% end %>
      <% end %>
    </dl>
  </div><!-- /well -->
<% end %>